body {
    background-image: url(img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    padding: 15px 15px 15px 20px;
}

input[type=text]{
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-family: Cursive;
    font-size: 200%;
    border-width: 0 0 1px 0;
    border-color: black;
    margin: 2px;
}

input[type=number]{
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-family: Cursive;
    font-size: 200%;
    border-width: 0 0 1px 0;
    border-color: black;
    margin: 2px;
    -moz-appearance: textfield;
    width: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Character header */
#character-header {
    /* height: auto; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content:justify; */
    /* align-items: flex-start; */
}

#character-header label{
    font-variant: small-caps;
    font-size: 80%;
    padding: 0px 4px;
}

#character-header input[type=text]{
    display: block;
    /* min-width: 180px; */
    /* width: 260px; */
    /* height: 20px; */
}

/* #character-header input[type=number]{
    display: block;
    width: 60px;
} */

#bio1 {
    /* width:60%; */
    /* float: left; */
    display: grid;
    grid-template-columns: auto auto;
}

#saveload {
    /* float: right; */
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
}



/* Tab stuff */
.tab {
    float: center;
    text-align: center;
}

.tab button {
    color: white;
    cursor: pointer;
    border: none;
    width: 160px;
    height: 30px;
    background-image: url(img/bois.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.tabcontent {
    display:none;
}

/* Bio */

#character-bio {
    /* display: flex;
    flex-wrap: wrap;
    justify-content:justify; */
}

#character-bio label{
    font-variant: small-caps;
    font-size: 80%;
    padding: 0px 4px;
}

#character-bio input{
    display: block;
}

#bio2  {
    display: flex;
    flex-wrap: wrap;
    justify-content:justify;
}

/* Stats */
#characs-form {
    margin: auto;
    width:60%;
    display:grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
}

#characs-form input {
    background-image: url(img/rond.png);
    background-size: cover;
    background-repeat: no-repeat;
    width:55px;
    height:50px;
    border:none;
    padding-top: 10px;
    display: block;
}

#characs-form label{
    display: block;
    text-align: center;
    margin: auto;
    font-variant: small-caps;
    font-size: 80%;
    /* padding: 0px 4px; */
}

/* Competences */

#competences {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    height: 2200px;
}

.competence-forms {
    display: grid;
    grid-template-columns: auto auto auto;
    width:20%;
}

.competence-forms input{
    width:20px;
}

.competence-forms input[type=text]{
    font-size: 100%;
}

.competence {
    display: block;
    background-image: url(img/bois.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 15px;
    padding-top: 8px;
    width: 200px;
    height:30px;
    color: white;
    font-weight: bolder;
    font-size: 100%;
    /* background-color: lightgray; */
}

.d-stat {
    font-weight: bold;
    margin-left: 15px;
    padding-top: 10px;
    font-size: 80%;
}

.stat {
    display: inline-block;
    padding-top: 15px;
    margin-left: 30px;
    width: 200px !important;
    border-width: 0 0 1px 0;
    border-color: black;
    font-size: 80%;
}

/* Inventaire */
#toprow {
    display: grid;
    grid-template-columns: auto auto;
}

#armure {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    width: 40%;
}

#armure input[type=number] {
    width: 40px;
}

#armes {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
}

#armes input[type=number] {
    width: 40px;
}

/* Combat*/

#initiativedebase {
    display: grid;
    grid-template-columns: auto auto;
}

#initiativedebase input[type=number] {
    width: 40px;
}
#pdc-form input[type=number] {
    background-image: url(img/rond.png);
    background-size: cover;
    background-repeat: no-repeat;
    width:55px;
    height:50px;
    border:none;
    /* padding-top: 10px;
    display: block; */
}

#pdc-form label{
    /* display: block;
    text-align: center;
    margin: auto; */
    font-variant: small-caps;
    font-size: 80%;
    /* padding: 0px 4px; */
}

#pointsdecombat {
    display: grid;
    grid-template-columns: auto;
}

#armep{
    background-image: url(img/rond.png);
    background-size: cover;
    background-repeat: no-repeat;
    width:55px;
    height:50px;
    border:none;
}

#pdc-arme {
    display: grid;
    grid-template-columns: auto auto auto;
}

#armespdc-form{
    display: grid;
    grid-template-columns: auto auto auto;
}

#armespdc-form input{
    width: 40px
}

#amn_pdc {
    background-image: url(img/rond.png);
    background-size: cover;
    background-repeat: no-repeat;
    width:55px;
    height:50px;
    border:none;
}

#amn-pts{
    display: grid;
    grid-template-columns: auto auto;
}

#amn-form {
    display: grid;
    grid-template-columns: auto auto;
}

#amn-form input{
    width: 40px;
}

#amn-bform {
    display: grid;
    grid-template-columns: auto;
}

#comb-attaque{
    display: grid;
    grid-template-columns: auto;
}

#pointsdesante {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

#pointsdesante input[type=number]{
    background-image: url(img/rond.png);
    background-size: cover;
    background-repeat: no-repeat;
    width:55px;
    height:50px;
    border:none;
}

#pointsdepeur {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

#pointsdepeur input[type=number]{
    background-image: url(img/rond.png);
    background-size: cover;
    background-repeat: no-repeat;
    width:55px;
    height:50px;
    border:none;
}